* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    height: 100px;
    background-color: black;
    padding: 0px 200px;
}



header nav ul {
    display: flex;
    gap: 50px;
}


header nav ul li {
    list-style: none;
}



#section-main {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-image: url(../assets/back.jpg);
    height: 100vh;
    background-color: black;
    background-size: 100%;
    flex-wrap: wrap;
}



#section-main>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    width: 200px;
    padding: 0px 10px;
}


a {
    color: white;
    text-decoration: none;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    /* padding-bottom: 30px; */
    align-items: center;
    text-align: center;
}


#section-main>div .img {
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    position: relative;
    bottom: 30px;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: 7px solid white;

}

.box1 .img {
    background-image: url(../assets/first.jpg);

}

.box2 .img {
    background-image: url(../assets/second.jpg);

}

.box3 .img {
    background-image: url(../assets/third.jpg);

}

.box4 .img {
    background-image: url(../assets/forth.jpg);

}

#section-main h5 {
    font-size: 20px;
}


#section-main p {
    font-size: 12px;
}

#section-main span {
    font-size: 12px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Detail Css Starts @@@@@@@@@@@@@@@@@@@@@@@ */

main .details{
    display: flex;
    align-items: center;
    justify-content: center;
}


.details>div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.details {
    display: flex;
    height: 90vh;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.details .detail-first img {

    height: 310px;
    width: 250px;

    object-fit: cover;
}

.details .detail-second img {

    height: 200px;
    width: 200px;
    object-fit: cover;

}

.details .detail-third img {

    height: 310px;
    width: 250px;

    object-fit: cover;
}















/*  Responsive starts */



@media(max-width:900px) {
    header nav {
        padding: 0px 50px;
    }


    #section-main {
        height: fit-content;
        padding: 0px 20px;
    }

    .details .detail-first img {

        height: 260px;
        width: 200px;

    }

    .details .detail-second img {

        height: 169px;
        width: 150px;

    }

    .details .detail-third img {

        height: 260px;
        width: 200px;

    }

    .details {
        display: flex;
        gap: 20px;
       
    }
}

    @media(max-width:590px){

    
  .details .detail-third img {

      height: 260px;
      width: 370px;

  }

  .details{
    padding: 20px 0px;
  }
}

@media(max-width:380px){

    .details .detail-first img {
    
            height: 260px;
            width: 340px;
    
        }
    
        .details .detail-second img {
    
            height: 260px;
            width: 340px;
    
        }
    
        .details .detail-third img {
    
            height: 260px;
            width: 340px;
    
        }





        .details{
            padding: 20px 40px;
        }
}

